<h4 class="font-bold text-xl text-center">Cambiar contraseña</h4>
<form class="mt-8">
  <div class="flex font-semibold mb-5">
    <p class="basis-1/2">Contraseña actual</p>
    <div class="basis1/2">
      <input type="password" class="px-2 text-black" />
    </div>
  </div>
  <div class="flex font-semibold mb-5">
    <p class="basis-1/2">Nueva contraseña</p>
    <div class="basis1/2">
      <input type="password" class="px-2 text-black" />
    </div>
  </div>
  <div class="flex font-semibold mb-5">
    <p class="basis-1/2">Repetir contraseña</p>
    <div class="basis1/2">
      <input type="password" class="px-2 text-black" />
    </div>
  </div>
  <div class="h-20 w-44 relative mx-auto">
    <button class="absolute bottom-0 bg-slate-200 custom-color-button">
      Cambiar contraseña
    </button>
  </div>
</form>
