<section class="flex p-10 text-lg">
  <div class="basis-1/2">
    <div class="item-list flex flex-col">
      <app-card-cart></app-card-cart>
      <app-card-cart></app-card-cart>
      <app-card-cart></app-card-cart>
      <app-card-cart></app-card-cart>
    </div>
  </div>
  <div class="basis-1/2 background">
    <div class="flex flex-col gap-5">
      <p class="text-green-400 font-bold">Envio: <span>$9.990</span></p>
      <p class="font-semibold">Productos: <span>$9.990</span></p>
      <p class="text-blue-700 font-bold cursor-pointer">
        Ingresar cupon de descuento
      </p>
      <p class="font-bold text-xl mt-6">
        <strong>Precio total: $<span>39.990</span></strong>
      </p>
    </div>
    <div class="mt-16 relative button">
      <button class="bg-blue-700 rounded-lg font-bold py-2 px-8 mx-auto">
        Comprar
      </button>
    </div>
  </div>
</section>
