<div class="background text-white">
  <section class="flex section">
    <div class="basis-1/2 relative animation-image background-img">
      <div
        class="absolute top-36 left-5 hidden font-extrabold text-2xl text-white opacity-0"
      >
        <p class="text-4xl">Sora</p>
        <p>(Kingdom hearts)</p>
        <br />
        <p class="font-normal text-sm w-1/2">
          <span class="text-blue-400 font-bold text-2xl">Sora </span> es el
          protagonista principal de la serie de videojuegos Kingdom Hearts de
          Square Enix y Disney. Presentado en el primer juego de Kingdom Hearts
          en 2002.
        </p>
      </div>
    </div>
    <div class="basis-1/2 animation-image-reverse">
      <div class="text-white font-bold pt-12 text-center flex flex-col gap-7">
        <h2 class="text-4xl select-none">¡Bienvenido a AnimeStore!</h2>
        <div class="bg-white h-40 w-3/4 mx-auto rounded-xl">
          <img
            class="h-full w-full"
            src="../../../../assets/desktop-wallpaper-anime-hunter-x-hunter-youtube-banner-anime.jpg"
          />
        </div>
        <br /><br />
        <h2 class="text-3xl">Producto destacado</h2>
        <a href="#" class="a">
          <img
            class="mx-auto mb-7"
            src="../../../../assets/hunter.png"
            alt="destacado"
          />
          <p>Manga Hunter X Hunter #7 Yoshihiro Togashi</p>
          <p class="text-green-500">$29.990</p>
        </a>
      </div>
    </div>
  </section>
  <section class="flex p-8 section">
    <div class="basis-1/2 animation-image p-16">
      <div class="flex justify-between">
        <app-card-features></app-card-features>
        <app-card-features></app-card-features>
      </div>
      <div class="flex justify-between mt-16">
        <app-card-features></app-card-features>
        <app-card-features></app-card-features>
      </div>
    </div>
    <div class="basis-1/2 animation-image-reverse">
      <div class="flex">
        <img
          class="mx-auto scale-animation"
          src="../../../../assets/tanjiro.png"
        />
      </div>
    </div>
  </section>
  <app-categories-page></app-categories-page>
</div>
