<div class="relative flex justify-center">
  <a routerLink="/" class="logo-container select-none">
    <h1>AnimeStore</h1>
    <div id="circle-logo"></div>
  </a>
  <img src="../../../../assets/eula.png" />

  <div class="flex flex-col justify-center custom-height relative">
    <nav class="font-bold text-lg">
      <div class="flex gap-11 nav-bar">
        <a routerLink="/"> Inicio </a><a routerLink="categorias">Categorias</a
        ><a routerLink="perfil">Perfil</a><a href="#">Cerrar sesion</a
        ><a routerLink="carro">Carrito</a>
      </div>
    </nav>
    <div class="absolute right-6 bottom-2">
      <app-search-bar></app-search-bar>
    </div>
  </div>
  <img src="../../../../assets/naruto.png" />
</div>
