<section class="p-16">
  <h2 class="font-bold text-4xl text-white mb-16">Categorias</h2>
  <div class="flex justify-around mt-32">
    <a routerLink="/list-product/figuras" class="hover:underline">
      <div class="h-52 w-52">
        <img class="mx-auto" src="../../../../assets/productos/s-l1600.jpg" />
      </div>
      <p class="font-bold text-3xl text-center mt-6">Figuras</p>
    </a>
    <a routerLink="/list-product/mangas" class="hover:underline">
      <div class="h-52 w-52 py-5">
        <img class="mx-auto" src="../../../../assets/hunter.png" />
      </div>
      <p class="font-bold text-3xl text-center mt-6">Mangas</p>
    </a>
    <a routerLink="/list-product/musica" class="hover:underline">
      <div class="h-52 w-52">
        <img
          class="mx-auto w-full h-full"
          src="../../../../assets/productos/5a02cada18e87004f1ca43dd.png"
        />
      </div>
      <p class="font-bold text-3xl text-center mt-6">Musica</p>
    </a>
  </div>
</section>
