<div class="odd-bg">
  <div class="flex py-1">
    <p class="basis-1/2 ml-3 font-semibold">Correo</p>
    <p class="basis-1/2 font-semibold overflow-hidden">
      kevin.clift.b@hotmail.com
    </p>
    <hr />
  </div>
  <div class="flex py-1">
    <p class="basis-1/2 ml-3 font-semibold">Nombres</p>
    <p class="basis-1/2 font-semibold overflow-hidden">kevin lisandro</p>
    <hr />
  </div>
  <div class="flex py-1">
    <p class="basis-1/2 ml-3 font-semibold">Apellidos</p>
    <p class="basis-1/2 font-semibold">clift buzeta</p>
    <hr />
  </div>
  <div class="flex py-1">
    <p class="basis-1/2 ml-3 font-semibold">Direccion 1</p>
    <p class="basis-1/2 font-semibold overflow-hidden">teresa wilms montt</p>
    <hr />
  </div>
  <div class="flex py-1">
    <p class="basis-1/2 ml-3 font-semibold">Direccion 2</p>
    <p class="basis-1/2 font-semibold overflow-hidden">depto 1201</p>
    <hr />
  </div>
  <div class="h-40 w-16 relative mx-auto">
    <button class="absolute bottom-0 bg-slate-200 custom-color-button">
      Editar
    </button>
  </div>
</div>
