<section class="flex p-2">
  <div class="basis-1/2 flex gap-2 height">
    <div class="w-28 height overflow-y-auto overflow-x-hidden items_list">
      <div class="w-20 h-20 bg-white mb-2"></div>
      <div class="w-20 h-20 bg-white mb-2"></div>
    </div>
    <div class="h-full w-full">
      <img
        class="h-full w-full rounded-md"
        src="../../../../assets/productos/s-l1600.png"
      />
    </div>
  </div>
  <div class="basis-1/2 p-5">
    <h2 class="font-semibold text-3xl">
      Figura Standee Genshin Impact Eula Lawrence Cryo Elemental Burst
    </h2>
    <p class="font-semibold text-2xl mt-8">$29.990 CLP</p>
    <div><p class="font-semi text-lg mt-8">Informacion de envio</p></div>
    <div class="flex px-10 py-8 font-semibold text-xl">
      Cantidad:
      <input
        value="1"
        class="ml-4 mr-2 text-black px-2 w-10 rounded-md text-center"
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
      />
      Unidad(es)
    </div>
    <div class="flex flex-col justify-center gap-2 font-bold">
      <button class="w-80 mx-auto button-cart button">
        Agregar al carrito
      </button>
      <button class="w-80 mx-auto button-buy button">Comprar ahora</button>
    </div>
  </div>
</section>
<section class="p-8 w-full mt-40">
  <h2 class="text-3xl text-center font-semibold">Informacion del producto</h2>
  <div class="custom-background p-5 font-normal">sds</div>
</section>
<section class="p-8 w-full mt-40">
  <h2 class="text-3xl"><strong>Comentarios</strong></h2>
</section>
