<div class="py-9 px-14">
  <div class="flex gap-5">
    <div class="basis-1/3 flex flex-col gap-10">
      <div>
        <button
          class="text-center w-full py-2 text-xl hover:underline"
          routerLink="/perfil"
        >
          Informacion personal
        </button>
        <hr />
      </div>

      <div>
        <button
          class="text-center w-full py-2 text-xl hover:underline"
          routerLink="changePassword"
        >
          Cambio de contraseña
        </button>
        <hr />
      </div>
      <div>
        <button
          class="text-center w-full py-2 text-xl hover:underline"
          routerLink="historial"
        >
          Historial de compra
        </button>
        <hr />
      </div>
    </div>
    <div class="basis-2/3 flex flex-col p-8 odd-bg text-white rounded-sm">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
