<a routerLink="/item/1" class="a">
  <div
    class="bg-black h-52 w-44 rounded-lg"
    title="Figura Standee Genshin Impact Eula Lawrence Cryo Elemental Burst"
  >
    <div class="h-32 w-44">
      <img
        class="h-full w-full"
        src="../../../../../assets/productos/s-l1600.png"
      />
    </div>
    <h4 class="px-5 font-semibold text-ellipsis w-44 h-10">
      Figura Standee Genshin Impact Eula Lawrence Cryo Elemental Burst
    </h4>
    <p class="text-green-400 text-center font-bold text-lg">$29.990</p>
  </div>
</a>
